<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia App</title>
</head>
<body>
    <h3>Who is the best cricketer in the world?</h3>
    <form action="/cricketer-question" method="POST">
        <input type="radio" name="cricketer" value="Sachin Tendulkar">A) Sachin Tendulkar
        <br>
        <input type="radio" name="cricketer" value="Virat Kolli">B) Virat Kolli
        <br>
        <input type="radio" name="cricketer" value="Adam Gilchirst">C) Adam Gilchirst
        <br>
        <input type="radio" name="cricketer" value="Jacques Kallis">D) Jacques Kallis
        <br>
        <button type="submit">Next!</button>
    </form>
</body>
</html>