<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia App</title>
</head>
<body>
    <h3>What are the colors in the Indian national flag? Select all: </h3>
    <form action="/indian-national-flag" method="POST">
        <input type="checkbox" name="colour" value="White">A) White
        <input type="checkbox" name="colour" value="Yellow">B) Yellow
        <input type="checkbox" name="colour" value="Orange">C) Orange
        <input type="checkbox" name="colour" value="Green">D) Green
        <button type="submit">Next!</button>
    </form>
    <h5>Select more than 1</h5>
</body>
</html>