<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia App</title>
</head>
<body>
    <h2>Hello <%= gameData.userName %></h2><br>
    <h4>Here are the answers selected:</h4><br>

    <h3>Who is the best cricketer in the world?</h3>
    <p>Answer: "<%= gameData.cricketer%>"</p>

    <h3>What are the colors in the national flag?</h3>
    <p>Answer: "<%= gameData.colours%>"</p>

    <form action="/game" method="GET">
        <button type="submit">Finish!</button>
    </form>
    <form action="/history" method="GET">
        <button type="submit">History!</button>
    </form>
</body>
</html>